{
  "name": "%deviceType%",
  "version": "0.1.0",
  "description": "A device daemon for %deviceType%",
  "main": "index.js",
  "scripts": {
    "start": "node index.js",
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": null,
  "license": "ISC",
  "dependencies": {
    "denhub-device": "^%libVersion%"
  }
}
